html, body {
  height: 100%;
}

.gameboard {
  height: 216px;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
}
.square {
  height: 50px;
  width: 50px;
  border: 2px solid red;
}

.showing {
  background: green;
}
.matched {
  background: gold;
}
.hidden {
  background: pink;
  color: pink;
}